.fixed-panel {
    min-height: 300px;
    max-height: 300px;
}

.table td {
    text-align: center;
}
.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.top-bottom-space {
    border-top: 1px solid #ccc;
    padding-top: 6px;
    padding-bottom: 6px;
}

.align-center {
    text-align: center;
}